@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.modalBackground {
    /* display: none; */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgb(0,0,0); */
    background-color: rgba(0, 0, 0, 0.286);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.modalBackground.show {
    opacity: 1;
}

.card-content {
    transform: translateY(-400px);
    transition: all 0.5s ease-in-out;
}

.modalBackground.show .card-content {
    transform: translateY(0);
}

.albumText {
    font-family: 'Russo One', sans-serif;
    color: #05050561;
    /* background-color: rgba(255, 255, 255, 0.13) */
}

.albumSkeletonLoader {
    animation: skeleton 1s ease infinite alternate;
}

@keyframes skeleton {
    to {
        opacity: 0.5;
    }
}


/* w-[300px] h-[500px] */